/* Media query for tablet */
@media (min-width: 576px) and (max-width: 1300px) {
  .container {
    width: 95%;
    margin: 2vh;
    padding-right: 12px;
  }
  .navbar ul {
    display: none;
  }

  .logo-img img {
    height: 2.5vh;
    width: 100%;
  }

  .container nav i {
    display: block;
  }

  .btn-nav {
    font-size: 14px;
  }
  .navbar {
    padding: 8px;
  }

  /* landing page */

  .hero-content {
    flex-direction: column-reverse;
  }
  .right-content img {
    height: 100%;
  }
  .right-data {
    display: block;
  }
  .left-content .options {
    display: none;
  }
  .options {
    margin-top: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .left-content .statement h1 {
    font-size: 5.2vh;
    padding-left: 45px;
    padding-top: 80px;
  }

  .left-content .para {
    font-size: 1.7vh;
    width: 87%;
    padding-left: 45px;
    margin-top: 45px;
  }

  .box-img {
    height: 300px;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
  }
  .options .check {
    margin-left: 0;
    width: 90%;
  }

  .options .check p {
    margin-right: 20px;
  }

  .gest {
    font-size: 16px;
    padding-left: 30px;
  }
  #location {
    font-size: 16px;
    padding-left: 30px;
  }

  .right-box {
    padding: 10px;
  }

  .container-det .left-box h2 {
    font-size: 40px;
    padding-left: 30px;
  }

  .right-box h4 {
    padding: 0 40px;
  }

  .btn {
    display: none;
  }
  #know {
    display: block;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  #third {
    padding-right: 10px;
  }

  .fits {
    padding: 0;
    padding-top: 70px;
    padding-left: 20px;
  }

  .intro {
    padding: 0 25px;
  }

  .intro h2 {
    font-size: 28px;
    padding-top: 50px;
  }

  .intro .view {
    padding: 12px;
  }

  .sign {
    display: none;
  }

  #room1 {
    margin-left: 0;
  }

  #pole {
    margin-left: 5px;
  }

  .detail h1 {
    padding-bottom: 40px;
  }

  .container {
    width: 95%;
  }

  .navbar ul li {
    font-size: 15px;
  }

  .btn-nav {
    font-size: 15px;
    padding: 8px 16px;
  }

  /* Adjustments for the hero section */
  .hero-sec {
    height: auto;
  }

  .left-content,
  .right-content {
    width: 100%;
    height: 630px;
  }

  .right-content .para {
    margin-left: 40px;
    margin-right: 40px;
  }

  /* Adjustments for options */

  .options button {
    font-size: 16px;
    padding: 10px 18px;
    margin-left: 0;
    width: 90%;
  }

  /* Adjustments for shop section */
  .shop-section {
    flex-direction: row;
    align-items: center;
    padding: 40px;
    height: auto;
  }

  .box {
    width: 100%;
    margin-bottom: 30px;
    height: 40vh;
  }

  .box-content h2 {
    font-size: 25px;
  }

  .box-content h3 {
    font-size: 18px;
  }

  .box-content p {
    font-size: 16px;
  }

  /* Adjustments for the container-det section */
  .container-det {
    flex-direction: column;
    height: auto;
  }

  .left-box,
  .right-box {
    width: 100%;
    padding-bottom: 0;
  }

  .options select {
    width: 44vw;
    margin-left: 0px;
    margin-top: 13px;
    margin-bottom: 4px;
  }

  /* Adjustments for the shop-slide section */
  .shop-slide {
    padding: 20px;
    padding-top: 0;
    height: 570px;
  }

  .room {
    width: 45%;
    margin-left: 0;
    height: 485px;
    margin-left: 15px;
  }

  .room img {
    width: 100%;
    height: auto;
  }

  .room-details h2 {
    font-size: 20px;
    overflow: hidden;
  }

  .room-details h5 {
    font-size: 14px;
  }

  .room-details h3 {
    font-size: 13px;
  }

  .room-details h1 {
    font-size: 16px;
  }

  .services,
  .detail {
    padding: 20px;
    height: auto;
    padding-left: 0;
  }

  .heading-services h1 {
    font-size: 3vh;
  }
  .heading-services {
    margin-left: 10px;
  }

  .boxes-services {
    flex-direction: column;
    align-items: center;
  }

  .boxes {
    width: 96%;
    margin-bottom: 20px;
    padding-left: 0;
    border-top: 2px solid rgb(212, 212, 212);
    border-bottom: none;
  }

  .boxes h3 {
    font-size: 18px;
  }

  .boxes p {
    font-size: 17.5px;
  }

  .detail p {
    padding: 0px 50px;
  }

  .detail h2 {
    font-size: 20px;
    margin-bottom: 50px;
  }

  /* Adjustments for footer */
  .footer-back {
    height: auto;
  }

  .footer {
    display: block;
    height: auto;
    width: 90%;
  }

  .left-footer {
    width: 100%;
    padding-bottom: 50px;
  }

  .left-footer h2 {
       padding-left: 20px;
       padding-bottom: 15px;
   }
   .left-footer p{
    padding-left: 15px;
   }

  .left-footer .cont {
    padding-left: 15px;
  }

  .contact-info h3 {
    padding-left: 15px;
  }

  .footer-links {
    padding-left: 15px;
    width: 100%;
  }

  #insta {
    opacity: 0.5;
    margin-left: 47%;

  }

  #fb {
    opacity: 0.4;
    position: absolute;
    margin-left: 50%;
  }

  .right-footer img {
    display: none;
  }

  /* somthing is wrong */

  .box-img {
    height: auto;
  }

  .box-content h2 {
    font-size: 20px;
  }

  .box-content h3 {
    font-size: 16px;
  }

  .box-content p {
    font-size: 14px;
  }

  .container-det {
    flex-direction: column;
    height: auto;
  }

  .room-details h5 {
    font-size: 14px;
  }

  .room-details h3 {
    font-size: 12px;
  }

  .room-details h1 {
    font-size: 14px;
  }

  .boxes-services {
    flex-direction: column;
    align-items: center;
  }

  .up-face {
    display: none;
  }
}
