
/* Media query for tablet */
@media (min-width: 576px) and (max-width: 1024px) {
  .container {
    width: 95%;
    margin: 2vh;
    padding-right: 12px;
  }
  .navbar ul {
    display: none;
  }

  .logo-img img {
    height: 2.5vh;
    width: 100%;
  }

  .container nav i {
    display: block;
  }

  .btn-nav {
    font-size: 14px;
  }
  .navbar {
    padding: 8px;
  }

  /* landing page */

  .hero-content {
    flex-direction: column-reverse;
  }
  .right-content img {
    height: 100%;
  }
  .right-data {
    display: block;
  }
  .left-content .options {
    display: none;
  }
  .options {
    margin-top: 43vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-content .statement h1 {
    font-size: 5.6vh;
    margin-top: 20px;
  }

  .left-content .para {
    font-size: 2vh;
    width: 50%;
  }

  .box-img {
    height: 300px;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
  }
  .options .check {
    margin-left: 0;
    width: 90%;
  }

  .options .check p {
    margin-right: 20px;
  }

  .gest {
    margin-left: 20px;
  }
  .left-box,
  .right-box {
    padding: 10px;
  }

  .container-det .left-box h2 {
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .right-box h4 {
    margin-right: 50px;
    margin-left: 25px;
    margin-top: 0;
    font-size: 2.1vh;
  }

  .btn {
    display: none;
  }
  #know {
    display: block;
    height: 4vh;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 0vh;
    width: 12vh;
    margin-left: 20px;
  }
  #third {
    margin-right: 5px;
  }

  .fits {
    margin-top: 47px;
    padding: 20px;
  }

  .intro {
    margin-left: 50px;
    margin-right: 50px;
  }

  .intro h2 {
    font-size: 28px;
    padding-top: 50px;
  }

  .intro .view {
    padding: 12px;
  }

  .sign {
    display: none;
  }

  #room1 {
    margin-left: 0;
  }

  #pole {
    margin-left: 5px;
  }

  .detail h1 {
    margin-top: 50px;
  }

  

 
  .container {
    width: 95%;
  }

  .navbar ul li {
    font-size: 15px;
  }

  .btn-nav {
    font-size: 15px;
    padding: 8px 16px;
  }

  /* Adjustments for the hero section */
  .hero-sec {
    height: auto;
  }

  .left-content,
  .right-content {
    width: 100%;
    padding-right: 0;
    margin-left: 0;
  }

  .left-content .para,
  .right-content .para {
    margin-left: 40px;
    margin-right: 40px;
  }

  /* Adjustments for options */

  .options button {
    font-size: 16px;
    padding: 10px 18px;
    margin-left: 0;
    width: 90%;
  }

  /* Adjustments for shop section */
  .shop-section {
    flex-direction: row;
    align-items: center;
    padding: 40px;
    height: auto;
  }

  .box {
    width: 100%;
    margin-bottom: 30px;
    height: 40vh;
  }

  .box-content h2 {
    font-size: 25px;
  }

  .box-content h3 {
    font-size: 18px;
  }

  .box-content p {
    font-size: 16px;
  }

  /* Adjustments for the container-det section */
  .container-det {
    flex-direction: column;
    height: auto;
  }

  .left-box,
  .right-box {
    width: 100%;
  }

  .left-box h2 {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 40px;
  }

  .gest {
    margin-left: 40px;
  }

  .options input,
  .options select {
    width: 43vw;
    margin-left: 0px;
  }

  /* Adjustments for the shop-slide section */
  .shop-slide {
    padding: 20px;
    height: auto;
    padding-top: 0;
  }

  .room {
    width: 45%;
    margin-left: 0;
    height: 485px;
    margin-left: 15px;
  }

  .room img {
    width: 100%;
    height: auto;
  }

  .room-details h2 {
    font-size: 20px;
  }

  .room-details h5 {
    font-size: 14px;
  }

  .room-details h3 {
    font-size: 13px;
  }

  .room-details h1 {
    font-size: 16px;
  }

  .services,
  .detail {
    padding: 20px;
    height: auto;
    padding-left: 0;
  }

  .heading-services h1 {
    font-size: 3vh;
  }
  .heading-services {
    margin-left: 10px;
  }

  .boxes-services {
    flex-direction: column;
    align-items: center;
  }

  .boxes {
    width: 96%;
    margin-bottom: 20px;
    padding-left: 0;
    border-top: 2px solid rgb(212, 212, 212);
    border-bottom: none;
  }

  .boxes h3 {
    font-size: 18px;
  }

  .boxes p {
    font-size: 17.5px;
  }

  .detail h1 {
    font-size: 28px;
  }

  .detail p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
}

  .detail h2 {
    font-size: 20px;
    margin-bottom: 50px;
}

  /* Adjustments for footer */
  .footer-back {
    height: auto;
  }

  .footer {
    flex-direction: column;
    height: auto;
    width: 90%;
  }

  .left-footer {
    width: 100%;
  }

  .left-footer h2 {
    margin-left: 40px;
  }

  .left-footer p {
    margin-left: 40px;
    margin-right: 40px;
  }

  .contact-info h3 {
    margin-left: 40px;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
    margin-left: 40px;
  }

  #insta{
    font-size: 2.2vh;
    margin-left: 300px;
    opacity: 0.5;
    border: none;
}
  
  #fb {
    font-size: 2.2vh;
    margin-left: 10px;
    opacity: 0.5;
    border: none;
}

  .right-footer img {
    display: none;
  }

  /* somthing is wrong */

  .box-img {
    height: auto;
  }

  .box-content h2 {
    font-size: 20px;
  }

  .box-content h3 {
    font-size: 16px;
  }

  .box-content p {
    font-size: 14px;
  }

  .container-det {
    flex-direction: column;
    height: auto;
  }

  .left-box,
  .right-box {
    width: 100%;
  }

  .left-box h2 {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .gest {
    margin-left: 20px;
  }

  .room-details h5 {
    font-size: 14px;
  }

  .room-details h3 {
    font-size: 12px;
  }

  .room-details h1 {
    font-size: 14px;
  }

  .boxes-services {
    flex-direction: column;
    align-items: center;
  }

  

 

  .detail h1 {
    font-size: 24px;
  }








  .left-footer h2 {
    margin-left: 20px;
  }

  .left-footer p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .contact-info h3 {
    margin-left: 20px;
  }
  .up-face{
   display: none;
    
  }
}
